.container
    .container_sub
        .container_preliminary
            h2 Đánh giá tổng quan Honda Vario 150 2020 có gì hấp dẫn?
            img(src="../../img/types-honda-vario-150.jpg", alt="anh loi")
            p 
                strong Honda Vario 150 2020 
                span mới có kích thướt tổng thể với chiều dài x rộng x cao lần lượt là 1919 x 679 x 1062 mm, trục cơ sở 1.280 mm, khoảng sáng gầm 132 mm, chiều cao yên 769 mm, trọng lượng xe ở mức 112 kg nặng hơn 3kg so với bản cũ.
        .container_detail 
            .container-detail_info
                <div class="splide splide-1" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__track track1">
                        <ul class="splide__list list1">
                            <li class="splide__slide">
                                img(src="../../img/es1-image-1.jpg", alt="anh loi")
                            </li>
                            <li class="splide__slide">
                                img(src="../../img/es1-image-2.jpg", alt="anh loi")
                            </li>
                            <li class="splide__slide">                                
                                img(src="../../img/es1-image-3.jpg", alt="anh loi")
                            </li>
                        </ul>
                    </div>
                </div>
                p Phần đầu của 
                    strong Honda Vario 150 2020 
                    span gây ấn tượng nhất khi được thiết kế lại phần đầu khá thú vị khi vuốt nhọn về phía trước kết hợp cùng hệ thống đèn pha LED cùng dãy đèn Demi Led được thiết kế tách rời khá sắc xảo, đặt cao so với phiên bản cũ cho ra tín hiệu tốt hơn mang đường nét tương tự như đàn anh CBR250RR hay CBR1000RR.
            .container-detail_info.reverse
                p 
                    strong Vario 150 phiên bản Smartkey 
                    span lần đầu tiên đã được Honda trang bị cụm đồng hồ hiển thị màn hình LCD TFT hiện đại thể hiện đầy đủ thông tin cần thiết. Ngoài ra, còn được bổ sung thêm đo bình điện, mức tiêu hao nhiên liệu theo dạng mức thang, mức tiêu thụ trung bình và thời điểm thay nhớt xe.
                <div class="splide  splide-2" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__track track2">
                        <ul class="splide__list list2">
                            <li class="splide__slide">
                                img(src="../../img/es2-image-1.jpg", alt="anh loi")
                            </li>
                            <li class="splide__slide">
                                img(src="../../img/es2-image-2.jpg", alt="anh loi")
                            </li>
                        </ul>
                    </div>
                </div>
            .container-detail_info
                <div class="splide  splide-3" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__track track3">
                        <ul class="splide__list list3">
                            <li class="splide__slide">
                                img(src="../../img/es3-image-1.jpg", alt="anh loi")
                            </li>
                            <li class="splide__slide">
                                img(src="../../img/es3-image-2.jpg", alt="anh loi")
                            </li>
                            <li class="splide__slide">
                                img(src="../../img/es3-image-3.jpg", alt="anh loi")
                            </li>
                            <li class="splide__slide">
                                img(src="../../img/es3-image-4.jpg", alt="anh loi")
                            </li>
                        </ul>
                    </div>
                </div>
                p 
                    strong Honda Vario 150 Smartkey 2020 
                    span sở hữu khối động cơ được tinh chỉnh mạnh mẽ hơn với dung tích 150cc, xy-lanh đơn, 4 kỳ, SOHC  theo tiêu chuẩn khí thải Euro 3, làm mát bằng nước. 
                    strong Honda Vario 150 thế hệ mới 
                    span có công suất cực đại đạt 9,7 kW (13,1Hp) tại 8.500rpm, cao hơn Vario thế hệ trước 12,4 Hp tại 8.500rpm và momen xoắn cực đại đạt 13.4Nm tại 5.000rpm, cao hơn Vario 150 thế hệ trước 12.8Nm tại 5.000rpm đi kèm công nghệ iDling Stop, khởi động ACG.
            .container-detail_info.reverse
                p Phiên bản 
                    strong Honda Vario 150 Đen mâm Đồng 2020 
                    span được trang bị hệ thống khoá Smartkey có thiết kế sang trọng tích hợp nhiều tính năng giúp xác định vị trí xe & mở xe từ xa tiện lợi, đem lại tiện ích cao cấp cho người sử dụng, ngăn chặn, tối ưu khả năng chống trộm. Phía trước vẫn được thiết kế với 2 hộc chứa đồ nhỏ, kèm móc treo đồ tiện dụng.     
                <div class="splide  splide-4" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__track track4">
                        <ul class="splide__list list4">
                            <li class="splide__slide">
                                img(src="../../img/es4-image-1.jpg", alt="anh loi")
                            </li>
                            <li class="splide__slide">
                                img(src="../../img/es4-image-2.jpg", alt="anh loi")
                            </li>
                        </ul>
                    </div>
                </div>
script(type="module" src="../../js/evaluate.js")