doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide-core.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='path/to/font-awesome/css/font-awesome.min.css')
.container-quang
    .container-flex
        .container-header
            .container-header-wrap
                h2.heading-title Honda Vario 150 nhập khẩu Indo mới 2020
        .container-content
            .container-content-wrap
                .container-content-row
                    .container-content-left.container-content-column
                        .container-content-padding
                            .container-element-in-padding
                                .hover-box
                                    .hover-box-content.active
                                        .hover-box-image
                                            img(src="../../../img/a-honda-vario-150-esp-warna-exclusive-matte-black.jpg" alt="")
                                    .hover-box-content
                                        .hover-box-image
                                            img(src="../../../img/a-honda-vario-150-esp-warna-exclusive-matte-blue.jpg" alt="")
                                    .hover-box-content
                                        .hover-box-image
                                            img(src="../../../img/a-honda-vario-150-esp-warna-exclusive-matte-brown.jpg" alt="")
                                    .hover-box-content
                                        .hover-box-image
                                            img(src="../../../img/a-honda-vario-150-esp-warna-exclusive-pearl-white.jpg" alt="")
                                    .background-opacity
                                    .hover-box-item-wrapper
                                        a.hover-box-item
                                            h2.hover-box-title
                                                | Honda Vario 150 ESP Warna Exclusive Matte Black
                                            .rotate-icon
                                                i.bi.bi-gear-fill
                                        a.hover-box-item
                                            h2.hover-box-title
                                                | Honda Vario 150 ESP Warna Exclusive Matte Blue
                                            .rotate-icon
                                                i.bi.bi-gear-fill
                                        a.hover-box-item
                                            h2.hover-box-title
                                                | Honda Vario 150 ESP Warna Exclusive Matte Brown
                                            .rotate-icon
                                                i.bi.bi-gear-fill
                                        a.hover-box-item
                                            h2.hover-box-title
                                                | Honda Vario 150 ESP Warna Exclusive Pearl White
                                            .rotate-icon
                                                i.bi.bi-gear-fill
                    .container-content-right.container-content-column
                        .container-content-padding
                            .container-element-in-padding
                                .container-option
                                    .option-accordion
                                        .accordion Honda Vario 150 2020 với thiết kế hiện đại
                                        .panel
                                            .option-content
                                                p
                                                    span(style='font-size: 20px;')
                                                        | Xe máy 
                                                        strong
                                                            | Honda
                                                            | Vario 150 Đen mâm Đồng 2020
                                                        |  mang kiểu dáng
                                                        | thể thao, mạnh mẽ nhưng vẫn đủ trang nhã dành cho cả nam và
                                                        | nữ, sở hữu các đường nét thiết kế hiện đại như những mẫu xe
                                                        | tương lai với tông màu mới khá nổi bật với:
                                                ul
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Kích thước tổng thể chiều dài
                                                            | x rộng x cao lần lượt là 1919 x 679 x 1062 mm, trục cơ
                                                            | sở 1280 mm.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Khoảng sáng gầm 132 mm.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Chiều cao yên 769 mm.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Trọng lượng xe ở mức 112 kg.
                                        .accordion Thông số kỹ thuật Honda Vario 150 2020
                                        .panel
                                            .option-content
                                                ul
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Vario 150 mới 2020 đuợc Honda trang bị động cơ eSP.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Xi-lanh đơn.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Dung tích 150 phân khối.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Phun xăng điện tử Fi
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Công suất 9.7 kW (13.1 PS) / 8500 rpm.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Mô-men xoắn cực đại 13.4Nm tại 5000 rpm.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Hệ dẫn động V-Matic.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Động cơ eSP của Vario cũng có tính năng Idling Stop.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Bộ đề tích hợp máy phát điện ACG.
                                                    li
                                                        span(style='font-size: 20px;')
                                                            | Vario 150 có mức tiêu hao nhiên liệu chỉ ở mức 46,9 km/L.
                                        .accordion Bảng giá xe Vario 150 tháng 11/2020
                                        .panel
                                            .option-content
                                                table(style='border-collapse: collapse; height: 25px;')
                                                    tbody
                                                        tr
                                                            td(style='width: 33.3333%;') &nbsp;
                                                            td(style='width: 33.3333%;') Giá chưa giấy
                                                            td(style='width: 33.3333%;') Giá bao giấy
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 Trắng tem Đỏ 2020
                                                            td(style='width: 33.3333%;') 54.000.000
                                                            td(style='width: 33.3333%;') 60.700.000
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 Đen mâm Đồng 2020
                                                            td(style='width: 33.3333%;') 53.700.000
                                                            td(style='width: 33.3333%;') 60.400.000
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 màu Vàng Cát 2020
                                                            td(style='width: 33.3333%;') 54.000.000
                                                            td(style='width: 33.3333%;') 60.700.000
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 màu Xanh nhám 2020
                                                            td(style='width: 33.3333%;') 54.000.000
                                                            td(style='width: 33.3333%;') 60.700.000
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 màu Đen nhám 2020
                                                            td(style='width: 33.3333%;') 53.700.000
                                                            td(style='width: 33.3333%;') 60.400.000
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 màu Trắng 2020
                                                            td(style='width: 33.3333%;') 54.000.000
                                                            td(style='width: 33.3333%;') 60.700.000
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 màu Bạc nhám 2020
                                                            td(style='width: 33.3333%;') 53.700.000
                                                            td(style='width: 33.3333%;') 60.400.000
                                                        tr
                                                            td(style='width: 33.3333%;')
                                                                | Giá xe Vario 150 màu Đỏ nhám 2020
                                                            td(style='width: 33.3333%;') 53.700.000
                                                            td(style='width: 33.3333%;') 60.400.000
script.
    const listHover = document.querySelectorAll(".hover-box-item");
    const listImg = document.querySelectorAll(".hover-box-content");
    const listRotate = document.querySelectorAll(".rotate-icon");
    listHover.forEach((value, index) => 
    {
        listHover[index].addEventListener("mouseover", (event) => 
        {
            listImg.forEach((_value, _index) => 
            {
                listImg[_index].classList.remove("active");
            });
            listImg[index].classList.add("active");

            listRotate.forEach((_value, _index) => 
            {
                listRotate[_index].classList.remove("active");
            });
            listRotate[index].classList.add("active");
        });

        listHover[index].addEventListener("mouseout", (event) => 
        {
            listRotate.forEach((_value, _index) => 
            {
                listRotate[_index].classList.remove("active");
            });
        });
    });
script.
    const listItem = document.querySelectorAll(".accordion");
    listItem.forEach((value, index) => 
    {
        listItem[index].addEventListener("click", (event) => 
        {
            var panel = listItem[index].nextElementSibling;
            if (panel.style.maxHeight) 
            {
                panel.style.maxHeight = null;
                listItem[index].classList.remove("active");
            } 
            else 
            {
                let removeActive = document.querySelectorAll(".option-accordion .accordion.active");
                removeActive.forEach((_value, _index) => 
                {
                    removeActive[_index].classList.remove("active");
                    removeActive[_index].nextElementSibling.style.maxHeight = null;
                });
                listItem[index].classList.add("active");
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    });
