.container-slider
  .mainSlider.clearfix
    .sliderLeftTop
      div
        img.img-content(src='../../img/main-slider-lt-image-1.jpg' alt='')
      div
        img.img-content(src='../../img/main-slider-lt-image-2.jpg' alt='')
      div
        img.img-content(src='../../img/main-slider-lt-image-3.jpg' alt='')
      div
        img.img-content(src='../../img/main-slider-lt-image-4.jpg' alt='')
    .splide.sliderMid(role='group' aria-label='Splide Basic HTML Example')
      .splide__track
        ul.splide__list
          li.splide__slide
            img(src='../../img/a-honda-vario-150-esp-warna-exclusive-matte-black.jpg' alt='')
          li.splide__slide
            img(src='../../img/a-honda-vario-150-esp-warna-exclusive-matte-blue.jpg' alt='')
          li.splide__slide
            img(src='../../img/a-honda-vario-150-esp-warna-exclusive-matte-brown.jpg' alt='')
          li.splide__slide
            img(src='../../img/a-honda-vario-150-esp-warna-exclusive-pearl-white.jpg' alt='')
    .sliderRightBott
      div
        img.img-content(src='../../img/main-slider-rb-image-1.jpg' alt='')
      div
        img.img-content(src='../../img/main-slider-rb-image-2.jpg' alt='')
      div
        img.img-content(src='../../img/main-slider-rb-image-3.jpg' alt='')
      div
        img.img-content(src='../../img/main-slider-rb-image-4.jpg' alt='')

script(type="module" src="../../js/main_slider.js")