doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title hondavario150
  link(rel='stylesheet' href='./style.css')
.container
  div
    h2.text_shadow
      | Th&ocirc;ng s&#x1ED1; k&itilde; thu&#x1EAD;t Honda Vario 150 2020
  .specification
    .component
      .pic
        img(src='./../img/specification-image-1.jpg' alt='#')
      .pic
        img(src='./../img/specification-image-2.jpg' alt='#')
      .pic
        img(src='./../img/specification-image-3.jpg' alt='#')
      .pic
        img(src='./../img/specification-image-4.jpg' alt='#')
      .pic
        img(src='./../img/specification-image-5.jpg' alt='#')
      .pic
        img(src='./../img/specification-image-6.jpg' alt='#')
      .pic
        img(src='./../img/specification-image-7.jpg' alt='#')
      .pic
        img(src='./../img/specification-image-8.jpg' alt='#')
    .detail
      ul.icon-list_items
        li
          span.text
            | D&agrave;i x R&#x1ED9;ng x Cao: 1919 x 679 x 1062 mm.
        li
          span.text
            | &Dstrok;&#x1ED9; cao y&ecirc;n: 769 mm.
        li
          span.text
            | Lo&#x1EA1;i &dstrok;&#x1ED9;ng c&#x1A1;: eSP, SOHC, l&agrave;m m&aacute;t b&#x1EB1;ng dung d&#x1ECB;ch.
        li
          span.text
            | Vario 150 c&oacute; m&#x1EE9;c ti&ecirc;u hao nhi&ecirc;n li&#x1EC7;u ch&#x1EC9; &#x1EDF; m&#x1EE9;c 46,9 km/L
        li
          span.text
            | Dung t&iacute;ch xy-lanh: 150cc.
        li
          span.text
            | H&#x1EC7; d&#x1EAB;n &dstrok;&#x1ED9;ng V-Matic.
        li
          span.text
            | C&ocirc;ng su&#x1EA5;t t&#x1ED1;i &dstrok;a: 9,7 kW t&#x1EA1;i 8500 v&ograve;ng/ph&uacute;t.
        li
          span.text
            | M&ocirc; men c&#x1EF1;c &dstrok;&#x1EA1;i: 13,4 Nm t&#x1EA1;i 5000 v&ograve;ng/ph&uacute;t.
        li
          span.text
            | C&#x1EE1; l&#x1ED1;p tr&#x1B0;&#x1EDB;c/sau: Tr&#x1B0;&#x1EDB;c 90/80 -14 ; Sau 100/80 - 14.
        li
          span.text
            | B&#x1ED9; &dstrok;&#x1EC1; t&iacute;ch h&#x1EE3;p m&aacute;y ph&aacute;t &dstrok;i&#x1EC7;n ACG.
        li
          span.text
            | Phanh tr&#x1B0;&#x1EDB;c/sau: Phanh &dstrok;&itilde;a / Tang tr&#x1ED1;ng.
        li
          span.text
            | Dung t&iacute;ch nh&#x1EDB;t m&aacute;y: 0,8 L&iacute;t.
        li
          span.text
            | H&#x1ED9;p s&#x1ED1;: V&ocirc; c&#x1EA5;p t&#x1EF1; &dstrok;&#x1ED9;ng.
        li
          span.text
            | Tr&#x1ECD;ng l&#x1B0;&#x1EE3;ng: 112 kg.
        li
          span.text
            | H&#x1EC7; th&#x1ED1;ng cung c&#x1EA5;p nhi&ecirc;n li&#x1EC7;u: Phun x&abreve;ng &dstrok;i&#x1EC7;n t&#x1EED; Fi.
        li
          span.text
            | &Dstrok;&#x1ED9;ng c&#x1A1; eSP c&#x1EE7;a Vario c&utilde;ng c&oacute; t&iacute;nh n&abreve;ng Idling Stop.
